.load-more-btn {
  padding: 6.5px 25px;
  width: 100%;
  max-width: 111px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 13px;
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 14px;

  &:hover, &:focus-visible {
    color: var(--light);
    background-color: var(--gray);
  }
}