.card {
  display: flex;
  background-color: var(--white);

  &--tile {
    flex-direction: column;
  }

  &__img {
    width: 86px;
    height: 86px;
    object-fit: cover;
    aspect-ratio: 1/1;

    @media (max-width: 575px) {
      width: 64px;
      height: 64px;
    }

    .card--tile & {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 16px 79px 16px 30px;

    @media (max-width: 767px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
    }

    .card--tile & {
      padding: 12px 12px 18px;
      flex-wrap: wrap;
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .card--tile & {
      width: 50%;
    }

    &--upload {
      @media (max-width: 382px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-top: 18px;
      }

      .card--tile & {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin-top: 24px;

        .card__label {
          font-size: 14px;
        }
      }
    }
  }

  &__label {
    font-size: 16px;

    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  &__data {
    display: flex;
    gap: 18px;

    @media (max-width: 575px) {
      gap: 6px;
    }

    .card--tile & {
      flex-direction: column;
      gap: 6px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__value {
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }

  &__upload-date {
    @media (max-width: 575px) {
      font-size: 12px;
    }

    .card--tile & {
      font-size: 12px;
    }
  }
}