.date-input {
  display: inline-block;

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__field {
    padding: 6px 64px 5px 8px;
    width: 100%;
    max-width: 162px;
    min-height: 28px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #636264;
    background-color: var(--white);
    border: 1px solid #dedede;
    border-radius: 4px;

    &:focus {
      outline: 1px solid var(--gray);
    }

    @media (max-width: 575px) {
      max-width: 138px;
      font-size: 12px;
    }
  }

  &__icon-btn {
    position: absolute;
    top: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    background: #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-left: 1px solid #dedede;
    transition: opacity var(--transition-duration);

    &:hover, &:focus-visible {
      opacity: 0.8;
    }

    &--clear {
      right: 28px;
    }

    &--calendar {
      right: 1px;
      border-radius: 0 4px 4px 0;
    }
  }

  &__popper {
    z-index: 1000;
  }

  .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    left: 8px !important;
    bottom: calc(100% + 4px) !important;
    width: 9px;
    color: var(--white);
    fill: var(--white);
    stroke: #d2d1d2;
  }

  &__calendar {
    &.react-datepicker {
      top: -8px;
      padding: 7px 7px 6px;
      font-family: var(--font);
      font-size: 13px;
      background-color: var(--white);
      border: 1px solid #d2d1d2;
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .react-datepicker__header {
      padding-top: 0;
      padding-bottom: 4px;
      background-color: var(--white);
      border-bottom: none;
    }

    .react-datepicker__day-name {
      margin: 2px;
      width: 23px;
      font-weight: 700;
      line-height: 23px;
      color: var(--black);
    }

    .react-datepicker__day {
      margin: 2px;
      width: 23px;
      line-height: 23px;
      font-weight: 400;
      color: #333437;
      border-radius: 2px;
      transition: color var(--transition-duration), background-color var(--transition-duration);

      &:hover, &:focus-visible {
        color: #333437;
        background-color: #f4f4f4;
        border-radius: 2px;
      }

      &--same-column:not(.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected, .react-datepicker__day--outside-month) {
        background-color: #f4f4f4;
      }
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
      color: var(--white);
      background-color: var(--info);
    }

    .react-datepicker__day--outside-month {
      color: #929292;
    }

    .react-datepicker__month {
      margin: 4px 0 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__current-month {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;

    &:hover, &:focus-visible {
      opacity: 0.8;
    }

    &:last-child svg {
      transform: scaleX(-1);
    }
  }
}
