.header {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12), inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);

  &__container {
    padding-top: 6px;
    padding-bottom: 28px;

    @media (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__inner {
    display: flex;
    gap: 86px;
    padding-left: 55px;

    @media (max-width: 767px) {
      padding-left: 0;
      gap: 16px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__logo {
    max-width: 138px;
    max-height: 138px;
    object-fit: cover;

    @media (max-width: 767px) {
      max-width: 32px;
      max-height: 32px;
    }
  }

  &__cell {
    padding-top: 27px;
    padding-bottom: 3px;

    @media (max-width: 767px) {
      padding-top: 8px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &--top {
      align-items: flex-end;
      gap: 16px;
      margin-bottom: 15px;

      @media (max-width: 575px) {
        gap: 10px;
      }
    }

    &--info {
      gap: 17px;
      margin-bottom: 19px;
      padding-left: 4px;

      @media (max-width: 575px) {
        gap: 8px;
      }
    }

    &--filter {
      align-items: center;
      padding-left: 2px;
      gap: 11px;
    }
  }

  &__title {
    font-family: var(--subfont);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;

    @media (max-width: 575px) {
      font-size: 20px;
    }
  }

  &__badge {
    display: flex;
    padding: 6px 12px 7px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: var(--info);
    border: 1px solid var(--info);
    border-radius: 2px;

    @media (max-width: 575px) {
      padding: 4px 6px;
      font-size: 12px;
    }
  }

  &__info {
    line-height: 16px;
    font-weight: 400;

    @media (min-width: 768px) {
      &:first-child {
        margin-right: 11px;
      }
    }

    b {
      font-weight: 700;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 575px) {
      font-size: 14px;
    }

    @media (max-width: 374px) {
      display: none;
    }
  }

  .input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 22px;

    @media (max-width: 575px) {
      gap: 8px;
    }
  }
}