.header {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12), inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);

  &__container {
    padding-top: 6px;
    padding-bottom: 28px;

    @media (max-width: 767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__inner {
    display: flex;
    gap: 86px;
    padding-left: 55px;

    @media (max-width: 767px) {
      padding-left: 0;
      gap: 16px;
    }
  }

  &__logo {
    max-width: 138px;
    max-height: 138px;
    object-fit: cover;

    @media (max-width: 767px) {
      max-width: 32px;
      max-height: 32px;
    }
  }

  &__cell {
    padding-top: 27px;
    padding-bottom: 3px;

    @media (max-width: 767px) {
      padding-top: 8px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &--top {
      align-items: flex-end;
      gap: 16px;
      margin-bottom: 15px;
    }

    &--info {
      gap: 17px;
      margin-bottom: 19px;
      padding-left: 4px;
    }

    &--filter {
      align-items: center;
      padding-left: 2px;
    }
  }

  &__title {
    font-family: var(--subfont);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;
  }

  &__badge {
    display: flex;
    padding: 6px 12px 7px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: var(--info);
    border: 1px solid var(--info);
    border-radius: 2px;
  }

  &__info {
    line-height: 16px;
    font-weight: 400;

    &:first-child {
      margin-right: 11px;
    }

    b {
      font-weight: 700;
    }
  }

  &__label {
    margin-right: 11px;
    font-size: 16px;
    font-weight: 400;
  }

  .input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
  }

  .input-date {
    padding: 7px 8px;
    width: 162px;
    height: 28px;
    font-size: 13px;
    font-weight: 400;
    color: #636264;
    border: 1px solid #dedede;
    border-radius: 4px;
  }
}