:root {
  --font: 'Roboto', sans-serif;
  --subfont: 'Montserrat', sans-serif;

  --primary: #204569;
  --primary-light: #ccdeef;
  --primary-dark: #0a2540;

  --secondary: #9b59b6;
  --secondary-light: #e4cdee;
  --secondary-dark: #8e44ad;

  --info: #3d8eda;
  --info-light: #bfdbf6;
  --info-dark: #0b7cef;

  --success: #66bb6a;
  --success-light: #c7f1c9;
  --success-dark: #388e3c;

  --error: #e44b4b;
  --error-light: #f5caca;
  --error-dark: #d32f2f;

  --warning: #ffae00;
  --warning-light: #faebd6;
  --warning-dark: #f57c00;

  --light: #fafafa;
  --dark: #212529;

  --white: #ffffff;
  --black: #000000;
  --gray: #929292;

  --container: 836px;
  --transition-duration: 0.3s;
}
